name: Build Kernel Workflow

# Define the events that trigger this workflow
on:
  push:
    branches:
      - main # Specify the branch that triggers the workflow
  pull_request:
    branches:
      - main # Specify the branch that triggers the workflow on pull requests

# Define environment variables available to all jobs in this workflow
env:
  WORKSPACE: ${{ github.workspace }}

jobs:
  Build-Kernel:
    name: "Build kernel"
    runs-on: ubuntu-latest
    needs:
      - Set-repos
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        repos: ${{ fromJSON(needs.Set-repos.outputs.repos) }}
    env:
      kernelDir: ${{ matrix.repos.kernelSource.name }}_${{ matrix.repos.kernelSource.device }}
      kernelName: ${{ matrix.repos.kernelSource.name }}
      kernelRepo: ${{ matrix.repos.kernelSource.repo }}
      kernelBranch: ${{ matrix.repos.kernelSource.branch }}
      kernelDevice: ${{ matrix.repos.kernelSource.device }}
      DEFCONFIG_NAME: vendor/kona-perf_defconfig
      withKernelSU: ${{ matrix.repos.withKernelSU }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: "Create working dir"
        run: mkdir -p ${{ env.kernelDir }}

      - name: "Install prerequisites"
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential bc curl git zip gcc-aarch64-linux-gnu gcc-arm-linux-gnueabi libssl-dev lftp zstd wget libfl-dev python3 libarchive-tools

      - name: "Clone kernel source => (${{ env.kernelRepo }})"
        working-directory: ./${{ env.kernelDir }}
        run: |
          git clone --recursive --branch ${{ env.kernelBranch }} ${{ env.kernelRepo }} ${{ env.kernelName }} --depth=1

      - name: "Get toolchains"
        working-directory: ./${{ env.kernelDir }}
        env:
          toolchains: ${{ toJSON(matrix.repos.toolchains) }}
        run: |
          toolchains_num=$(echo $toolchains | jq 'length')
          for ((i=0; i<toolchains_num; i++)); do
            name=$(echo $toolchains | jq -r ".[$i].name")
            repo=$(echo $toolchains | jq -r ".[$i].repo")
            branch=$(echo $toolchains | jq -r ".[$i].branch")
            git clone --recursive --branch $branch $repo $name --depth=1
            echo "$(pwd)/$name/bin" >> $GITHUB_PATH
          done
          echo "Updated PATH Variable: $PATH"

      - name: "Set args"
        id: generate-args
        working-directory: ./${{ env.kernelDir }}
        env:
          params: ${{ toJSON(matrix.repos.params) }}
          extraParams: ${{ toJSON(matrix.repos.extraParams) }}
          THREAD: $(nproc --all)
        run: |
          ARCH=$(echo $params | jq -r ".ARCH")
          CROSS_COMPILE=$(echo $params | jq -r ".CROSS_COMPILE")
          CROSS_COMPILE_COMPAT=$(echo $params | jq -r ".CROSS_COMPILE_COMPAT")
          CROSS_COMPILE_ARM32=$(echo $params | jq -r ".CROSS_COMPILE_ARM32")
          CLANG_TRIPLE=$(echo $params | jq -r ".CLANG_TRIPLE")
          AR=$(echo $params | jq -r ".AR")
          CC=$(echo $params | jq -r ".CC")

          echo "ARCH=$ARCH" >> $GITHUB_ENV

          args="-j$(nproc --all)"
          if [ -n "${{ env.OUT_DIR }}" ]; then
            mkdir -p $(pwd)/${{ env.OUT_DIR }}
            args="$args O=$(pwd)/${{ env.OUT_DIR }}"
          fi
          if [ -n "$ARCH" ]; then
            args="$args ARCH=$ARCH"
          fi
          if [ -n "$CROSS_COMPILE" ]; then
            args="$args CROSS_COMPILE=$CROSS_COMPILE"
          fi
          if [ -n "$CLANG_TRIPLE" ]; then
            args="$args CLANG_TRIPLE=$CLANG_TRIPLE"
          fi
          if [ -n "$CROSS_COMPILE_COMPAT" ]; then
            args="$args CROSS_COMPILE_ARM32=$CROSS_COMPILE_COMPAT"
          fi
          if [ -n "$AR" ]; then
            args="$args AR=$AR"
          fi
          if [ -n "$CC" ]; then
            args="$args CC=$CC"
          fi
          echo "args=$args" >> $GITHUB_OUTPUT
          extra_params=$(echo $extraParams | jq -r 'to_entries[] | select(.value != "") | "\(.key)=\(.value)"' | tr '\n' ' ' | sed 's/ $//')
          echo "args=$args $extra_params" >> $GITHUB_OUTPUT

      - name: "Debug Info Before Build"
        run: |
          echo "Working Directory: $(pwd)"
          echo "PATH Variable: $PATH"
          echo "OUT_DIR: ${{ env.OUT_DIR }}"
          echo "ARCH: ${{ env.ARCH }}"
          echo "CROSS_COMPILE: ${{ env.CROSS_COMPILE }}"
          echo "CLANG_TRIPLE: ${{ env.CLANG_TRIPLE }}"
          echo "args: ${{ steps.generate-args.outputs.args }}"

      - name: "Update KernelSU"
        if: ${{ env.withKernelSU == 'true' }}
        working-directory: ./${{ env.kernelDir }}/${{ env.kernelName }}
        run: |
          if [ -d "./KernelSU" ]; then
            rm -rf "./KernelSU"
          fi
          if [ -d "./drivers/kernelsu" ]; then
            rm -rf "./drivers/kernelsu"
          fi

          curl -LSs "https://raw.githubusercontent.com/tiann/KernelSU/main/kernel/setup.sh" | bash -s main

          echo -e "\nCONFIG_KPROBES=y" >> ./arch/${{ env.ARCH }}/configs/${{ env.DEFCONFIG_NAME }}
          echo -e "\nCONFIG_HAVE_KPROBES=y" >> ./arch/${{ env.ARCH  
